@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px 20%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #1B98CA;
}

.presentacion {
    display: inline-block;
    text-align: center;
    width: 59vh;
    background-image: url(./img/img_BG_LOGO.png);
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    height: 32vh;
    margin: 0 8vh 0 1vh;
}

.p1{
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    top: 40vh;
    left: 175vh;
}

.p1 img{
    object-fit: cover;
    width: 4vh;
    margin: 10px 0;
    border-radius: 30px;
}

.p1 img:hover{
    width: 4.5vh;
    transition: .3s;
}

.p2{
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    top: 47vh;
    left: 175vh;
}

.p2 img{
    object-fit: cover;
    width: 4vh;
    margin: 10px 0;
    border-radius: 30px;
}

.p2 img:hover{
    width: 4.5vh;
    transition: .3s;
}

.p3{
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    top: 54vh;
    left: 175vh;
}

.p3 img{
    object-fit: cover;
    width: 4vh;
    margin: 10px 0;
    border-radius: 30px;
}

.p3 img:hover{
    width: 4.5vh;
    transition: .3s;
}

.p4{
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    top: 61vh;
    left: 175vh;
}

.p4 img{
    object-fit: cover;
    width: 4vh;
    margin: 10px 0;
    border-radius: 30px;
}

.p4 img:hover{
    width: 4.5vh;
    transition: .3s;
}

.img1 {
    position: absolute;
    top: 5vh;
    right: 0;
    width: 98vh;
    height: 95vh;
}

.img1 img{
  object-fit: cover;
  width:100%;
  height:100%;
}

.img2 {
    position: absolute;
    top: 60vh;
    left: 5vh;
    width: 75vh;
    height: 60vh;
}

.img2 img{
    object-fit: cover;
    width:100%;
    height:100%;
  }

.img3 {
    position: absolute;
    top: 1700px;
    left: 0;
    width: 86vh;
    height: 77vh;
}

.img3 img{
    object-fit: cover;
    width:100%;
    height:100%;
}

.img4 {
    position: absolute;
    top: 3000px;
    right: 2vh;
    width: 100vh;
    height: 113vh;
}

.img4 img{
    object-fit: cover;
    width:100%;
    height:100%;
}

.img5 {
    position: absolute;
    top: 4650px;
    left: 0;
    width: 100vh;
    height: 100vh;
}

.img5 img{
    object-fit: cover;
    width:100%;
    height:100%;
}

.img6 {
    position: absolute;
    top: 4700px;
    right: 0;
    width: 98vh;
    height: 82vh;
}

.img6 img{
    object-fit: cover;
    width:100%;
    height:100%;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 8vh;
    margin: 18px 0px;
}

h3 {
    font-family: 'Roboto Slab', serif;
    margin: 0px auto;
}

.burbujas {
    display: flex;
    flex-direction: row;
    margin: 5vh auto 20vh auto;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    margin: 5vh auto 4vh auto;
}

.container2 {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    width: 100%;
    margin: 5vh auto 20vh auto;
}

.titulo {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
}

.info {
    font-size: 3vh;
    line-height: 5vh;
    letter-spacing: 1px;
    width: auto;
    margin: auto 8vh;
}

.info2 {
    font-size: large;
    position: relative;
    line-height: 5vh;
    letter-spacing: 2px;
    display: grid;
    grid-template-columns: auto;
    width: 50vh;
    margin: 30px 30px;
}

.info2 b{
    height: fit-content;
    margin: 0;
}

.info3 {
    display: flex;
    font-size: large;
    letter-spacing: 3px;
    display: grid;
    place-items: left;
    width: 100vh;
    height: auto;
    padding: 0;
    margin: 30px auto;
}

.info4 {
    display: flex;
    font-size: 22px;
    letter-spacing: 3px;
    display: grid;
    place-items: left;
    width: 100vh;
    height: auto;
    padding: 0;
    margin: 30px auto;
}

.container3 {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    width: 60%;
}

.subtitulo {
    font-size: large;
    color: yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0%;
    width: 85%;
    margin: 20px auto 20px 0px;
} 

.brochure {
    display: grid;
    align-items: center;
}

.mapa {
    height: 350px;
    width: 460px;
    margin: 0 0 0 200px;
}

.mapa img{
  object-fit: cover;
  width:100%;
  height:100%;
}

.direccion {
    position: relative;
    width: 90%;
    text-align: right;
}